.region-select {
  height: 48px;
  background-color: #fff;
  border: none;
  box-shadow: var(--shadow-1);
  padding-inline: 8px 28px;
  border-radius: 6px;

  appearance: none;
  -webkit-appearance: none;

  background-image: url("/assets/images/light-mode-down-caret.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;
}
