.search-container {
  display: flex;
  gap: var(--size-3);
  background-color: #fff;
  height: 48px;
  padding-inline: 24px 16px;
  position: relative;
  border-radius: 6px;
  box-shadow: var(--shadow-1);
}

.search-container > img {
  align-self: center;
}

.search-container > div > input {
  border: none;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.search-container > .results {
  position: absolute;
  top: 36px;
  background-color: #fff;
  inset-inline: 0;
  border-radius: 6px;
  padding: 0;
  list-style: none;
  box-shadow: var(--shadow-2);
}

.search-container > .results > li {
  padding-inline: 6px;
  padding-block: 10px;
}

.search-container > .results > li > a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--gray-4);
}

.search-container > .results > li > a > img {
  box-shadow: var(--shadow-1);
}
